<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
          xmlns:gap = "http://phonegap.com/ns/1.0"
          id = "com.phonegap.example"
          version = "1.0.0">
  
      <name>Flug App</name>
  
  
      <author href="flug.check24.de" email="guido.thurmann@check24.de">
          Flug Check24
      </author>
      <gap:platform name="android" />
      <preference name="orientation" value="portrait" />
      <!--preference name="fullscreen" value="true" /-->
      <preference name="permissions" value="none"/>
      <gap:plugin name="org.common.plugins.updateapp" />
      <icon src="icon.png" />
    </widget>
